mph_biconical/outputs/
ordered/sysmats/

# Rules for the random_pattern folder
random_pattern/scanner_layouts_77faff53af5863ca146878c7c496c75e/
random_pattern/ppdf-analysis/beam-analysis/output/beams_properties_*.hdf5
random_pattern/ppdf-analysis/beam-analysis/output/beams_masks_*.hdf5
random_pattern/ppdf-analysis/beam-analysis/output/asci_histogram_*.hdf5

# Rules for random_pattern_rots_trans
random_pattern_rots_trans/scanner_layouts_508640ff8dc59f67dd884fdbc89ee122/
random_pattern_rots_trans/ppdf-analysis/beam-analysis/output/asci_histogram_*.hdf5
random_pattern_rots_trans/ppdf-analysis/beam-analysis/output/beams_masks_*.hdf5
random_pattern_rots_trans/ppdf-analysis/beam-analysis/output/beams_properties_*.hdf5
