[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"

[packages]
numpy = "*"
pyyaml = "*"
jsonschema = "*"
matplotlib = "*"
mpi4py = "==3.1.6"
h5py = "*"
setuptools = "*"
setuptools-scm = "*"
ipython = "*"
sphinx-toolbox = "*"
sphinx-design = "*"
pymatcal = {file = "."}
