[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
mpi4py = "*"
pyyaml = "*"
h5py = "*"
pipfile = "*"
pymatcal = {file = "pymatcal"}

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
